<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chapter6.mapper.RefreshTokenMapper">

    <!-- 토큰으로 정보 조회 -->
    <select id="selectByToken" parameterType="String" resultType="RefreshTokenVO">
        SELECT
            r.id,
            r.refresh_token,
            r.refresh_count,
            r.expiry_date,
            r.member_id,
            m.user_id AS userNm
        FROM refresh_token r left join member m on r.member_id = m.id
        WHERE refresh_token = #{refreshToken}
    </select>

    <!-- member id 존재 여부 -->
    <select id="existMemberId" parameterType="int" resultType="boolean">
        SELECT IF(COUNT(*) >= 1, 1, 0)
        FROM refresh_token
        WHERE member_id = #{id}
    </select>

    <!-- 토큰 최초 생성 -->
    <insert id="insertRefreshToken" parameterType="RefreshTokenVO">
        INSERT INTO refresh_token (
        refresh_token,
        refresh_count,
        member_id,
        reg_date,
        expiry_date
        ) VALUES (
        #{refreshToken},
        1,
        #{memberId},
        NOW(),
        #{expiryDate}
        )
    </insert>

    <!-- 토큰 삭제 -->
    <delete id="deleteTokenById">
        DELETE FROM refresh_token
        WHERE id = #{id}
    </delete>

    <!-- 토큰 갱신 및 카운트 증가 -->
    <update id="updateTokenCount" parameterType="RefreshTokenVO">
        UPDATE refresh_token SET
            refresh_token = #{refreshToken},
            refresh_count = refresh_count + 1,
            expiry_date = #{expiryDate},
            mod_date = NOW()
        WHERE member_id = #{memberId}
    </update>

</mapper>